<ion-view cache-view="false">
    <div class="bar bar-header bar-calm">
        <img src="img/Logo_square.png" height="100%">
        <h1 class="title">PatientTrack</h1>
        <a class="button button-icon icon ion-help-circled v-align" href="#/Help"></a>
    </div>
    <ion-content class="has-header">
        <div class="centre pad-top">
            <h1>Welcome to <br/>
                PatientTrack</h1>
            <h4>Please register or log in</h4>
            <br/>
        </div>
        <div class="pad-top">
            <form name="regform">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Username</span>
                    <input name="Username" type="text" placeholder="Username" ng-model="regUsername" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email Address</span>
                    <input name="Email" type="email" placeholder="Email Address" ng-model="regEmail" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input name="Password" type="password" placeholder="Password" ng-model="regPwd" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Address</span>
                    <input name="Address" type="text" placeholder="Address" ng-model="regPostcode" required>
                </label>
            </form>
        </div>
        <div>
            <a class="button button-clear button-balanced button block" href="#/PrivacyPolicy">By registering you agree to our Privacy Policy</a>
            <a class="button button-balanced button-block" ng-click="registerPatient()" ng-disabled="regform.$invalid">Register</a>
        </div>
    </ion-content>
</ion-view>