<ion-view>
    <div class="bar bar-header bar-calm">
        <img src="img/Logo_square.png" height="100%">
        <h1 class="title">PatientTrack</h1>
        <a class="button button-icon icon ion-android-close v-align" ng-click="goBack()"></a>
    </div>
    <ion-content class="has-header has-footer">
        <div class="list">
            <div class="item item-divider item-text-wrap">
                <h1>What is PatientTrack?</h1>
            </div>
            <a class="item item-text-wrap">
                PatientTrack is an app which is used to help people with Dementia, their carers, and their family
                members.
            </a>
            <div class="item item-divider item-text-wrap">
                <h1>What does it do?</h1>
            </div>
            <a class="item item-text-wrap">
                This app allows you to navigate home using Google Maps at the click of a button! <br/>
                It also sends your location to our secure database so that you carer or family members can find you!
            </a>
            <div class="item item-divider item-text-wrap">
                <h1>Fantastic! So how do I get started?</h1>
            </div>
            <a class="item item-text-wrap">
                Simple! Just fill in the short registration form and proceed to login.<br/>
                Then just click the Home button and you'll be shown directions immediately!<br/>
                Once you're logged in you'll stay logged in (unless you log out) so you don't need to worry about
                remembering passwords.
            </a>
            <div class="item item-divider item-text-wrap">
                <h1>What if I move house?</h1>
            </div>
            <a class="item item-text-wrap">
                Don't worry! We've got you covered!<br/>
                Your carer can change your home address from within their app!
            </a>
            <div class="item item-divider item-text-wrap">
                <h1>Still have questions?</h1>
            </div>
            <a class="item item-text-wrap">
                Shoot your questions over to our developer!<br/>
                <h3>Joe Schofield</h3>
                joeschofield@live.co.uk
            </a>
        </div>
    </ion-content>
</ion-view>